# Python virtual environment
dev/

# Job submission script
run-job.sh

# Build directories
build*/

# Generated / temporary files
*.mlir
*.ll
*.o
*.out
*.log
*.txt
core.*

# Python subdir artifacts
python/*/*.{mlir,ll,o,out,txt}
python/*/core.*

# MLIR text variants
*mlir.txt

# OpenBLAS build artifacts
lib/cmake/
lib/pkgconfig/
lib/*.a
lib/*.so
lib/*.so.*
include/
